[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
matplotlib = "*"
pandas = "*"
nltk = "*"
gensim = "*"
seaborn = "*"
tabulate = "*"
wordcloud = "*"
keras = "*"
tensorflow = "*"
connexion = "*"
flask = "*"
gevent = "*"
requests = "*"
pillow = "*"
requests = ">=2.20.0"

[dev-packages]

[requires]
python_version = "3.6"
