[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
matplotlib = "*"
pandas = "*"
nltk = "*"
gensim = "*"
seaborn = "*"
tabulate = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.6"
